

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  
  to{
    opacity: 1;
    transform: rotateX(0);
  }
}

.contact-page-container {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 200px;
  position: relative;
}

.left {
  background-color: rgb(255, 255, 255);
  
}

.right {
  background-color: rgb(255, 255, 255);
}


.imgContainer {
  height: 400px;
  width: 400px;
  
}

.imgContainer img {
  width: 100%;
  border-radius: 50%;
  opacity: .5;
}



.contact-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 80px;

}

.resume-btn {
  width: 200px;
  height: 50px;
  border: none;
  background-color: rgb(0, 0, 0); 
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: .5s linear;

}

.resume-btn:hover {
background-color: red;
}

.contact-subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: rgb(104, 104, 104);
  width: 80%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 500px;
}

.icon-div {

  display: flex;
  width: 100%;
}


.social-links {
  color: white;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  position: relative;
  display: inline-block;
  width:60px;
  height:60px;
  margin-right: 20px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.social-links:nth-child(1) {
  background-color:  #de5246;
}

.social-links:nth-child(2) {
  background-color:  #0072b1;
}

.social-links:nth-child(3) {
  background-color: black;
}

.social-links:nth-child(1):hover {
  background: #91352d;
}

.social-links:nth-child(2):hover {
  background: #004368;
}

.social-links:nth-child(3):hover {
  background: rgb(80, 80, 80);
}



.social-links span {
  color:rgb(255, 255, 255);
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;

  font-size:14px;
  border-radius:2px;
  background:rgb(161, 161, 161);
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-links:nth-child(1) span {
  background-color:  #de5246;
}

.social-links:nth-child(2) span {
  background-color:  #0072b1;
}

.social-links:nth-child(3) span {
  background: black;
}


.social-links span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}


.social-links:hover span {
  bottom:70px;
  visibility:visible;
  opacity:1;
}



.social-icon {
  font-size: 35px;
  height: 100%;
}




@media only screen and (max-width: 1100px)  {
  .imgContainer {
    height: 400px;
    width: 400px;
  }

  .contact-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 10px;
  }

  .contact-subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: rgb(104, 104, 104);
    width: 90%;
    margin-bottom: 50px;
  }

  .social-links span {
    display:none;
  }


.contact-container {
  width: 400px;
  height: 400px;
  margin: auto;
}
}

@media only screen and (max-width: 800px)  {
  .imgContainer {
    display: none;
  }
  

  .contact-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 1;
  }

  .contact-page-container {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 200px;
    position: relative;
    justify-content: center;
    text-align: center;
  }

  .contact-subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: rgb(104, 104, 104);
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }

  .icon-div {
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* .contact-container {
    width: 600px;
    height: 600px;
    margin: auto;
  } */
  
  .contact-container {
    display: block;
    height: 600px;
    width: 600px;
  }
  

}


@media only screen and (max-width: 600px)  {
  .contact-container {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .contact-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 1;
  }

  .contact-subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: rgb(104, 104, 104);
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
  
}


